<h1>Listado de Empesas Convenio</h1>
<p>Este es el listado de las empresas que tienen convenio con la aplicacion</p>
<div class="container-fluid">
  <div class="row p-5">
    <div class="card" *ngFor="let c of empresaConvenio">
      <ul class="list-group">
        <li class="list-group-item" (click) = "onSelected(c)">Nombre: {{c.nombre}}</li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="selected">
  <app-empresaConvenio-detail [empresaConvenioDetail]="selectedEmpresaConvenio"></app-empresaConvenio-detail>
</div>

<app-empresaConvenio-create></app-empresaConvenio-create>
