
<h1 class="titulo">CLIENTE</h1>
<p class="p">En este espacio se encuentra la informacion del cliente seleccionado</p>
<div class="cuadrado">
    <div class= "cuadro">
        <p class="titulo">{{clienteDetail.nombre}}</p>
    </div>
    <div class= "cuadro1">
        <img src="assets/usuario.jpeg" class="imag"> <br> <br> <br>
        <p class="titulo">3.8<img src="assets/estrella.jpeg" class="imag1"></p> <br>
        <h1 class="h1">Contacto</h1>
        <p class="p1">Telefono: {{clienteDetail.contacto.telefono}} <br> Correo: {{clienteDetail.contacto.correo}}</p>
    </div>
    <div class= "cuadro2">
        <p class="titulo2"> <u> Mis Mascotas</u></p>
        <p class= "p1"> Nombre: {{clienteDetail.mascota.nombre}} <br> <br>
            Tipo de Mascota: {{clienteDetail.mascota.tipoMascota}}  <br> <br>
            Raza: {{clienteDetail.mascota.raza}} <br> <br> Edad: {{clienteDetail.mascota.edad}}  </p>
    </div>
</div>
