<div class="container-fluid">
  <div class = "row">
    <div class = "col-2">
      <h1 clas = "centrado">{{mascotaDetail.nombre}}</h1>
      <p class="h3 p-3" class = "centrado">{{mascotaDetail.tipoMascota}}</p>
      <p class="h3 p-3" class = "centrado">Raza: {{mascotaDetail.raza}}</p>



    </div>
    <div class = "col-8">
      <p class="h3 p-3" class = "centrado">Ubicación: {{mascotaDetail.ubicacion}}</p>
      <p class="h3 p-3" class = "centrado"><button type="button" style="color: white; background-color:#1eabe2">Dueño: {{mascotaDetail.duenio.nombre}}</button></p>
      <p class="h3 p-3" class = "centrado">Edad: {{mascotaDetail.edad}}</p>
    </div>
  </div>
  <div class = "row">
    <h1>Agenda</h1>
    <p>No tengo la mas minima idea de como meter una agenda aqui</p>
  </div>

</div>
