<!DOCTYPE html>
<html>
  <head>
    <title> Más información </title>
  </head>

  <body>

    <div class = "container">
      <div>
        <h1 id="encabezado">¡Más información!</h1>
      </div>
      <div class = "col-md" >
        <div class = "row">
          <div class ="imagen"><img src="assets/map.jpg">
          </div>
        </div>
        <div class = "row">
          <h3> Nuestros clientes </h3>

          <p>
            Conectamos a más de 200 veterinarios con distintos clientes en las ciudades
            más importantes del país. Verificamos que la calidad de los servicios prestados
            por nuestros veterinarios sea la mejor para todas las mascotas de la comunidad.
          </p>

          <p>
            Atendemos a más de 10 especies de mascotas entre las que puedes encontrar: perros, gatos,
            aves domésticas, roedores como conejos y hamsters, entre muchos otros. Cada uno de nuestros
            veterinarios se especializa en una necesidad particular de tu mascota, así que entre los servicios
            ofrecidos podrás visualizar cada una de las atenciones que tenemos para tu mascota.
          </p>

          <p>
            Si tienes alguna duda, puedes escribirnos al correo electrónico servicio@med4petcom o puedes dirigirte a
            nuestra sede principal, ubicada en la Cra 13 # 50 - 22. Nuestra línea de atención es el número telefónico
            (+57) 318 472 2514.
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
