<h1>Listado de Servicios</h1>
<!--
<p> Este es el listado de servicios de la aplicación</p>
<div class="container-fluid">
  <div class="row p-5">
    <select class="form-control" #t (change)="callType($event)" >
      <option class="card" *ngFor= "let s of servicios" (click)="onSelected(s)" [ngValue]="s">
        {{s.nombre}}
      </option>
      </select>
  </div>
</div>
<div>

</div>

<div class = "card-header">
  <a (click) = "onSelected(c)">Servicio #{{s.id}}</a>
</div>
-->
<div class="container-fluid">
  <div class="row p-5">
    <div class="col-4">
      <ul class = "list-group">
        <li class = "list-group-item" *ngFor="let s of servicios" (click)="onSelected(s)">Nombre {{s.nombre}}&nbsp;&nbsp; ID: {{s.id}}</li>
      </ul>
    </div>
  </div>
  <div *ngIf = "selected">
    <app-servicio-detail [servicioDetail]="selectedS"></app-servicio-detail>
  </div>
</div>
<div>
  <button type="button" style="color: white; background-color:#1eabe2">Solicitar cita</button>
  </div>
<div>
  <img src="assets/ImagenPerro.jpg" width="500px" height="500px">
  </div>
