<h1>Listado de Servicios</h1>
<p> Este es el listado de servicios de la aplicación</p>
<div class="container-fluid">
  <div class="row p-5">
    <select name="selected">
      <option class="card" *ngFor= "let s of servicios">
        <ul class = "list-group">
          <li class = "list-group-item" (click)= "onSelected(s)">{{s.nombre}}</li>
        </ul>
      </option>
      </select>
  </div>
</div>
<div>
  <h3>Nuestros veterinarios</h3>
<div *ngIf= "selected">
  <app-servicio-detail [servicioDetail]="selectedServicio"></app-servicio-detail>
</div>
</div>
<div>
<button type="button" style="color: white; background-color:#1eabe2">Solicitar cita</button>
</div>
<div>
<img src="./ImagenPerro.jpg" width="80px" height="80px">
</div>
<!--<div class = "card-header">
  <a (click) = "onSelected(c)">Servicio #{{s.id}}</a>
</div>-->
