<div class="container-fluid">
  <h2>Información de la Cita</h2>
  <h3>{{days[citaDetail.fecha.getDay()]}} {{citaDetail.fecha.getDate()}} de {{months[citaDetail.fecha.getMonth()]}} -
    {{citaDetail.fecha.getHours()%12 ? citaDetail.fecha.getHours()%12 : 12}}:00 {{citaDetail.fecha.getHours() >= 12 ? "p.m." : "a.m."}}</h3>
  <div class="row">
    <div class="col">
      <dl>
        <dt> Veterinario</dt>
        <dd>No available information <!--TODO--></dd>
        <hr>
        <dt> Disponibilidad</dt>
        <dd>{{citaDetail.disponible ? "Disponible" : "Reservado"}}</dd>
        <hr>
        <!--Si está disponible no tiene sentido mostrar ningún cliente porque ninguno habrá reservado-->
        <div *ngIf="!citaDetail.disponible">
          <dt> Cliente</dt>
          <dd>{{citaDetail.paciente.duenio.nombre}}</dd>
          <hr>
          <dt> Mascota</dt>
          <dd>{{citaDetail.paciente.nombre}}</dd>
          <hr>
        </div>
        <dt>Costo</dt>
        <dd>${{citaDetail.costo}}</dd>
        <hr>
        <dt>Duración</dt>
        <dd>{{citaDetail.duracion}} minutos</dd>
        <hr>
        <dt>Servicios de la Cita</dt>
        <dd>{{nombresServicios()}}</dd>
      </dl>
    </div>
  </div>
</div>
