<h1>Listado de Mascotas</h1>
<p> Este es el listado de mascotas de la aplicación</p>
<div class="container-fluid">
  <div class="row p-5">
      <div class="card" *ngFor="let m of mascotas">
        <ul class = "list-group" (click) = "onSelected(m)">
          <li class = "list-group-item">Nombre: {{m.nombre}}</li>
          <li class = "list-group-item">Raza: {{m.raza}}</li>
        </ul>
      </div>
  </div>
</div>
<div *ngIf = "selected">
  <app-mascota-detail [mascotaDetail] = "selectedm"></app-mascota-detail>
</div>
