<h1>Listado de Mascotas</h1>
<p> Este es el listado de mascotas de la aplicación</p>
<div class="container-fluid">
  <div class="row p-5">
      <div class="card" *ngFor="let m of mascotas">
        <div class = "card-header">
          {{m.id}}
        </div>
        <ul class = "list-group">
          <li class = "list-group-item">Nombre: {{m.nombre}}</li>
          <li class = "list-group-item">Raza: {{m.raza}}</li>
          <li class = "list-group-item">Dueño: {{m.Cliente.nombre}}</li>
        </ul>
      </div>
  </div>
</div>
