<div class="container-fluid">
  <div class = "row">
    <div class = "col-2">
      <h1 clas = "centrado">{{veterinarioDetail.nombre}}</h1>
      <p class = "centrado">{{veterinarioDetail.especialidad}}</p>
      <p class = "centrado">Calificacion: {{veterinarioDetail.calificacion}}</p>
    </div>
    <div class = "col-2">
      <img src ="../../../assets/peepoEjemplo.jpg"  width="200px" height="200px">
    </div>
    <div class = "col-8">
      <p>Certificado de Entrenamiento Numero: {{veterinarioDetail.certificadoEntrenamiento}}</p>
      <p>Experiencia Previa: {{veterinarioDetail.experienciaPrevia}}</p>
      <p>Registro Medico: {{veterinarioDetail.registroMedico.imagen}}</p>
    </div>
  </div>
  <div class = "row">
    <app-cita-listar [citas]="veterinarioDetail.agenda.citas"></app-cita-listar>
  </div>
  <div class = "row">
    <h1>Calificaciones</h1>
      <p *ngFor = "let c of veterinarioDetail.calificaciones">Creador: {{c.creador}}, Puntaje: {{c.puntaje}}, Comentarios: {{c.comentarios}}</p>
  </div>
</div>
