<div *ngIf = "!yac">
  <app-contacto-create (newItemEvent)="addContacto($event)" ></app-contacto-create>
</div>

<div class="container-fluid">
  <div class="p-3">
    <div class="h4">Creacion de la Empresa Convenio</div>
    <form
      [formGroup]="empresaConvenioForm"
      (ngSubmit)="!empresaConvenioForm.invalid && createEmpresaConvenio(empresaConvenioForm.value)"
    >
      <div class="form-group mx-sm-3 mb-2">
        <label for="nombre"> Nombre* </label>
        <input
          novalidate
          id="nombre"
          class="form-control"
          formControlName="nombre"
          placeholder="Nombre Completo"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            empresaConvenioForm.get('nombre').hasError('required') &&
            empresaConvenioForm.get('nombre').touched
          "
        >
          Nombre Requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            empresaConvenioForm.get('nombre').hasError('minlength') &&
            empresaConvenioForm.get('nombre').touched
          "
        >
          Nombre muy corto, debe ser de almenos 2 caracteres
        </div>
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label for="nit"> Nit* </label>
        <input
          id="nit"
          type="text"
          class="form-control"
          formControlName="nit"
          placeholder="Nit de la empresa"
        />

        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
          empresaConvenioForm.get('nit').hasError('required') &&
          empresaConvenioForm.get('nit').touched
          "
        >
          Nit requerido
        </div>
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label for="servicio"> Servicio* </label>
        <input
          id="servicio"
          type="text"
          class="form-control"
          formControlName="servicio"
          placeholder="Servicio que ofrece"
        />

        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
          empresaConvenioForm.get('servicio').hasError('required') &&
          empresaConvenioForm.get('servicio').touched
          "
        >
          Servicio requerido
        </div>
      </div>

      <div class="row m-3 small">
        <p>* Required fields</p>
      </div>

      <div class="row m-3">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!empresaConvenioForm.valid"
        >
          Create
        </button>
        <button
          type="button"
          class="btn btn-danger ml-3"
          (click)="cancelCreation()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
 </div>

