
<h1>Med4Pet</h1>
<img src="assets/LogoMed4Pet.jpg" width="800px" height="200px">


<table class="table">
  <thead class="thead-dark">
      <tr style="color: rgb(11, 87, 138); text-align: center; font-weight: bold; background-color:#74c3e2;">
          <th><button type="button" style="color: white; background-color:#1eabe2" routerLink="servicios">Nuestros Servicios</button></th>
          <th><button type="button" style="color: white; background-color:#1eabe2" routerLink="/empresasconvenio">Empresas Convenio</button></th>
          <th><button type="button" style="color: white; background-color:#1eabe2" routerLink="/clientes">Clientes</button></th>
          <th><button type="button" style="color: white; background-color:#1eabe2" routerLink="/masinformacion" >Más información</button></th>
          <th><button type="button" style="color: white; background-color:#1eabe2" routerLink="/conocenos">Conócenos</button></th>
          <th><button type="button" style="color: white; background-color:#1eabe2" routerLink="/registrarse">Registrarse</button></th>
      </tr>
  </thead>
  <tbody id="courses">
  </tbody>
  <div class="row">
      <tbody id="total-credits" style="color: black; text-align: center; font-weight: bold;">
      </tbody>
  </div>
</table>
<router-outlet></router-outlet>
<!--
<app-servicio-create></app-servicio-create>
<app-mascota-create></app-mascota-create>
<app-registroMedico-create></app-registroMedico-create>
<app-veterinario-create></app-veterinario-create>
<app-contacto-create></app-contacto-create>

<app-servicio-listar></app-servicio-listar>

<app-mascota-listar></app-mascota-listar>

<app-calificacion-listar></app-calificacion-listar>
<app-registroMedico-listar></app-registroMedico-listar>

<app-tarjetaCredito-listar></app-tarjetaCredito-listar>
<app-pse-listar></app-pse-listar>

<app-veterinario-list></app-veterinario-list>
<app-contacto-list></app-contacto-list>

<app-cita-listar></app-cita-listar>
<app-agenda-listar></app-agenda-listar>

<app-cliente-list></app-cliente-list>
<app-empresaConvenio-list></app-empresaConvenio-list>
-->
