<h1>Listado de Tarjetas de Credito</h1>
<p>Este es el listado de Tarjetas de Credito de la aplicación</p>
<div class="container-fluid">
  <div class="row p-5">
      <div class="card" *ngFor="let c of tarjetas">
        <div class = "card-header">
          {{c.nombre}}
        </div>
        <ul class = "list-group">
          <li class = "list-group-item">Numero tarjeta: {{c.numeroTarjeta}}</li>
          <li class = "list-group-item">Codigo seguridad: {{c.codigoSeguridad}}</li>
        </ul>
      </div>
  </div>
</div>
