<div class="container-fluid">
  <p class="h3 p-3">{{empresaConvenioDetail.nombre}}</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt> Empresa Convenio </dt>
        <dd>Informacion de la empresa convenio seleccionada </dd>
        <dt class="bold"> Nombre </dt>
        <dd>{{empresaConvenioDetail.nombre}}</dd>
        <hr>
        <dt class="bold">ID</dt>
        <dd>{{empresaConvenioDetail.id}}</dd>
        <hr>
        <dt class="bold">Servicio que ofrece</dt>
        <dd>{{empresaConvenioDetail.servicio}}</dd>
        <hr>
        <dt class="bold"> Nit de la empresa</dt>
        <dd>{{empresaConvenioDetail.nit}}</dd>
        <hr>
        <dt class="bold">Telefono de contacto</dt>
        <dd>{{empresaConvenioDetail.contacto.telefono}}</dd>
        <hr>
        <dt class="bold">Correo de contacto</dt>
        <dd>{{empresaConvenioDetail.contacto.correo}}</dd>
      </dl>
    </div>
  </div>
</div>

