.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.titulo{
  line-height: 1.35em;
  text-align: center;
  font-size: 40px;
}
.p{
  text-align: center;
}
.cuadrado {
  width: 1340px;
  height: 1150px;
  background: #4875a1;
}
.cuadro1{
  width: 900px;
  height: 350px;
  background: #ffffff;
  top: 4%;
  left: 16%;
  position: relative;
}
.cuadro2{
  width: 900px;
  height: 350px;
  background: #ffffff;
  top: 5%;
  left: 16%;
  position: relative;
}
.cuadro3{
  width: 900px;
  height: 350px;
  background: #ffffff;
  top: 6%;
  left: 16%;
  position: relative;
}
.imag{
  width: 400px;
  height: 300px;
  top: 7%;
  left: 5%;
  position: relative;
}
.texEmpre{
  top: -75%;
  left: 65%;
  position: relative;

}
.pimg{
  top: -75%;
  left: 55%;
  position: relative;
}
