

<h1 class="titulo">EMPRESAS CONVENIO</h1>
<p class="p">En este espacio se encuentra la lista de las empresas con las que tenemos convenio para cubrir todas las necesidades de tu mascota</p>
<div class="cuadrado">
    <div class= "cuadro1">
        <img src="assets/Operacion.jpg" class="imag">
        <h1 class="texEmpre">{{empresaConvenioDetail.nombre}}</h1>
        <hr>
        <dt class="bold">Servicio que ofrece</dt>
        <dd>{{empresaConvenioDetail.servicio}}</dd>
        <hr>
        <p> <br> <br> Contactanos: <br> Telefono: {{empresaConvenioDetail.contacto.telefono}} <br> Correo: {{empresaConvenioDetail.contacto.correo}}</p>
    </div>
</div>

