<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8" />
  <title>¡Cónocenos!</title>
</head>

<body>
  <div>
    <h1 id="encabezado">Med 4 Pet</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="imagen"><img
            src="assets/ImagenP2.jpg">
        </div>
      </div>

      <div class="col">
        <div class="espacioParrafo">
          <h3>¿Quiénes somos?</h3>
          <p>Somos un grupo de estudiantes de cuarto o quinto semestre de Ingeniería de Sistemas de la
            <a href="https://uniandes.edu.co/" target="_blank">Universidad de los Andes</a>
            que desarrollaron este proyecto durante la clase de Desarrollo de Software en Equipo. Nuestro equipo está
            conformado por: Luccas Rojas, Tony Montes, Juan Carlos Marin, Shadith Pérez, Gabriela Cagua y Daniel Villar.

          </p>

          <h3>¿Cuál es nuestro propósito?</h3>
          <p>Nuestro objetivo es crear una plataforma que facilite la interacción entre dueños de mascotas y veterinarios,
            para poder brindar una mejor experiencia al momento de buscar algun servicio para nuestros peludos.
          </p>

          <h3>Contacto</h3>
          <ul>
            <li>Teléfono: 3184722514</li>
            <li>Correo: med4pet@hotmail.com</li>
            <li>Dirección: Cra 13 #50-22.</li>
          </ul>
          <h3>¿Quieres recibir más información? </h3>
          <h3>¡Suscríbete! </h3>
          <form>
            Nombre:


            <input type="text" name="nombre" value="">
          <br>
            Ciudad:


            <input type="text" name="ciudad" value="">
            <br>
            Correo:


            <input type="text" name="correo" value="">
            <br>
            <button class="boton">Suscribirse</button>
          </form>
        </div>
      </div>
    </div>
      <div class="col">
        <div class="espacioFormulario">

        </div>
      </div>
    </div>

</body>

</html>
