<h4>Descripcion de la calificacion de {{calificacionDetail.creador}}</h4>
<p>{{calificacionDetail.descripcion}}</p>
<p>{{calificacionDetail.fecha}}</p>
<!--
<div class="container-fluid">
  <p class="h2 p-3">{{calificacionDetail.creador}}</p>
    <div class="col-6">
      <div class="thumb">
        <dl>
          <dt>Descripción</dt>
          <dd>{{calificacionDetail.descripcion}}</dd>
        </dl>
      </div>
    </div>
    <div class = "col-2">
      <p class = "h2">{{calificacionDetail.puntaje}}</p>
    </div>
  <div class = "row">
    <h3>{{calificacionDetail.fecha}}</h3>
  </div>
</div>
-->
